@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Kalam:wght@300&family=Kaushan+Script&family=Sail&display=swap');
@import "./sass/Base/base.scss";
@import "./sass/Utils/variables";
@import "./sass/Layout/footer.scss";
@import "./sass/Layout/header.scss";

.menu--lanote{
    font-family: 'Cookie', cursive;
    @include format_carte;
    background-color: $bg-lanote;
        h2{
            font-size: 2rem;
            color: #3C1218;
        }
        transform: scale(1);
        :hover{
            transform: scale(1.5);
            transition: transform 400ms;
        }
        :active{
            transform: scale(2);
        }
        
}
.menu--lechic{
    font-family: 'Sail', cursive;
    @include format_carte;
    background-color:$bg-lechic;
        h2{
            background: linear-gradient(145deg, #DF871E 25%, #A56799, #8F5BFE);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        transform: scale(1);
    cursor: pointer;
        :hover{
            transform: scale(1.2);
            transition: transform 400ms;
        }
        :active{
            transform: scale(2);
        }
}
.menu--ledélice{
    font-family: 'Dancing Script', cursive;
    @include format_carte;
    background-color: $bg-ledélice;
        h2{
            background: linear-gradient(90deg, #0228DD, #0670F3, #229DF9);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        transform: scale(1);
    cursor: pointer;
        :hover{
            transform: scale(1.3);
            transition: transform 400ms;
        }
        :active{
            transform: scale(2);
        }
}
.menu--lapalette{
    font-family: 'Kaushan Script', cursive;
    @include format_carte;
    background-color: $bg-lapalette;
        h2{
            background: linear-gradient(135deg, #41963C, #7DC85D, #BEFF7F);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        transform: scale(1);
    cursor: pointer;
        :hover{
            transform: scale(1.3);
            transition: transform 400ms;
        }
        :active{
            transform: scale(2);
        }
}
.prochainement{
    display: flex;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    cursor: pointer;
    transform: scale(1);
    @include mise_en_page;
    .point_de_suspension{

        display: flex;
        width: 70px;
        padding-top: 15px;
        justify-content: space-evenly;
            .point1{
                @include points;
            }
            .point2{
                @include points;
                animation-delay: 0.2s;
            }
            .point3{
                @include points;
                animation-delay: 0.4s;
            }
    }
}

a:link{
    text-decoration: none;
}

@keyframes jump {
    0% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(1px);
    }
}

.wiggle{
    cursor: pointer;
    &:hover{
        animation: wiggle 1s;
}
}

@keyframes wiggle { 
    0% { transform: translateX(0); } 

    30% { transform: translateX(0); } 

    35% { transform: translateX(10px); } 

    45% { transform: translateX(-10px); } 

    50% { transform: translateX(0);}

    55% { transform: translateX(5px);}

    60% { transform: translateX(-5px);}

    100% { transform: translateX(0px); } 
} 