#contenu i{
    font-size: 60px;
    padding-top: 5%;
    background: linear-gradient(90deg, #F05160 45%, #F6916A 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}