#menus {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;

    h2 {
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
    }

    a {
        font-family: 'Kalam', cursive;
        text-decoration: none;
        transform: scale(1);
        cursor: pointer;
    }
}

.menu {
    cursor: pointer;

    &:hover {
        opacity: 0.4;
        transition: 0.5s ease-in;
    }

}

.menu--lanote {
    span {
        font-family: 'Cookie', cursive;

    }

    @include menuHover;
    @include format_carte;
    background-color: $bg-lanote;

    h2 {

        a {
            text-decoration: none;
            color: #3C1218;
        }
    }

}

.menu--lechic {
    @include menuHover;
    @include format_carte;
    background-color: $bg-lechic;

    span {
        font-family: 'Sail', cursive;

    }

    h2 {
        background: linear-gradient(145deg, #DF871E 25%, #A56799, #8F5BFE);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu--ledelice {
    @include menuHover;
    @include format_carte;
    background-color: $bg-ledelice;

    span {
        font-family: 'Dancing Script', cursive;

    }

    h2 {
        background: linear-gradient(90deg, #0228DD, #0670F3, #229DF9);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu--lapalette {
    @include menuHover;
    @include format_carte;
    background-color: $bg-lapalette;

    span {
        font-family: 'Kaushan Script', cursive;

    }

    h2 {
        background: linear-gradient(135deg, #41963C, #7DC85D, #BEFF7F);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}