#menus {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;

    h2 {
        display: flex;
        flex-direction: column;
    }

    a {
        font-family: 'Kalam', cursive;
        text-decoration: none;
        transform: scale(1);
        cursor: pointer;
    }
}

.menu {
    cursor: pointer;

    &:hover {
        opacity: 0.4;
        transition: 0.5s ease-in;
    }

    p {
        font-size: 30px;
    }
}

.menu--lanote {
    @include menuHover;
    @include format_carte;
    background-color: $bg-lanote;

    h2 {
        font-family: 'Cookie', cursive;
        color: #3C1218;
    }

    p {
        color: #3C1218;
    }


}

.menu--lechic {
    @include menuHover;
    @include format_carte;
    background-color: $bg-lechic;

    h2 {
        font-family: 'Sail', cursive;
        background: linear-gradient(145deg, #DF871E 25%, #A56799, #8F5BFE);
        @include webkit_background;
    }

    p {
        color: #DF871E;
    }

}

.menu--ledelice {
    @include menuHover;
    @include format_carte;
    background-color: $bg-ledelice;

    h2 {
        font-family: 'Dancing Script', cursive;
        background: linear-gradient(90deg, #0228DD, #0670F3, #229DF9);
        @include webkit_background;
    }

    p {
        background: linear-gradient(90deg, #0228DD, #0670F3, #229DF9);
        @include webkit_background;
    }
}

.menu--lapalette {
    @include menuHover;
    @include format_carte;
    background-color: $bg-lapalette;

    h2 {
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(150deg, #41963C 20%, #7DC85D, #BEFF7F 70%);
        @include webkit_background;
    }

    p {
        background: linear-gradient(150deg, #41963C 20%, #7DC85D, #BEFF7F 70%);
        @include webkit_background;
    }
}