@import '../utils/variables';
@import '../utils/variables';

.lanote {
    background-color: #FCDFDB;
    color: $txt-color-lanote;

    h2 {

        font-family: 'Cookie', cursive;
        font-size: 2rem;
        color: $txt-color-lanote;
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }

    h3 {
        padding-top: 10px;
        margin: auto;
    }

    h4 {
        padding-top: 20px;
        font-family: 'Cookie', cursive;
        font-size: 2rem;
        color: $txt-color-lanote;
        text-align: center;
    }

    p {
        margin-bottom: 7px;
    }

    .titre_h3 {
        display: flex;
    }

    .trait_gauche {
        @include trait_lanote;
        margin-left: 50px;
        border-radius: 4px 0 0 0;

    }

    .trait_droit {
        @include trait_lanote;
        margin-right: 50px;
        border-radius: 0 4px 0 0;

    }

    section {
        font-family: 'Kalam', cursive;
    }

    p {
        font-size: 12px;
    }

    .titre_icone {
        text-align: center;
        font-size: 60px;
        padding-top: 5%;
    }

    i {
        padding-right: 10px;
        background: linear-gradient(90deg, #F05160 30%, #F6916A 75%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .souligner {
        background-color: $txt-color-lanote;
        @include soulignerTitre;
    }
}