.ledelice {
    background-color: $bg-ledelice;

    p {
        margin-bottom: 12px;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Dancing Script', cursive;
        font-size: 2.5rem;
        background: linear-gradient(90deg, #0228DD, #0670F3, #229DF9);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        padding-top: 10px;
        margin: auto;
        font-size: 1rem;
    }

    section {
        font-family: 'Kalam', cursive;
    }

    .trait_gauche_commencer {
        border-bottom: rgb(2, 40, 221) 3px solid;
        @include trait_gauche_ledelice;
    }

    .trait_droit_commencer {
        border-bottom: rgb(2, 40, 221) 3px solid;
        @include trait_droit_ledelice;
    }

    .titre_h3 {
        display: flex;
    }

    .trait_gauche_continuer {
        border-bottom: rgb(6, 112, 243) 3px solid;
        @include trait_gauche_ledelice
    }

    .trait_droit_continuer {
        border-bottom: rgb(6, 112, 243) 3px solid;
        @include trait_droit_ledelice;
    }

    .trait_gauche_terminer {
        border-bottom: rgb(34, 157, 249) 3px solid;
        @include trait_gauche_ledelice

    }

    .trait_droit_terminer {
        border-bottom: rgb(34, 157, 249) 3px solid;
        @include trait_droit_ledelice;
    }

    .souligner {
        @include soulignerTitre;
        background-color: #0228DD;

    }

}