#carte {
    margin: 25px auto;
    border: rgb(226, 226, 226) 1px solid;
    max-width: 530px;
    height: 750px;


    h3 {
        text-align: center;
    }

    .menu_page {
        display: flex;
        flex-direction: column;
        padding: 2% 10% 5% 10%;
        font-size: 0.8rem;
        div{
            display: flex;
            justify-content: space-between;
        }
        
    }

    .titre_h3 {
        &:hover+.souligner {
            transform: scale(1);
        }
    }
}