@media only screen and (min-width : 360px) and (max-width : 740px){
    #contenu{
        #menus{
            display: flex;
            flex-direction: column;
            .menu{
                width: 70%;
                height: 30em;
            }
        }
        .prochainement{
            width: 60%;
            margin-bottom: 10%;
        }
    }
    #carte{
        max-width: 90%;
        height: 90em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2{
            height: 10%;
            font-size: 5rem;
        }
        h3{
            font-size: 2rem;
        }
        h4{
            font-size: 3rem;
        }
        .menu_page{
            display: flex;
            .plats{
                justify-items: flex-start;
                p{
                    font-size: 1.5rem;
                }
            }
            .prix{
                justify-items: flex-end;
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
