@media only screen and (min-width : 360px) and (max-width : 740px) {
    #contenu {
        #menus {
            display: flex;
            flex-direction: column;

            .menu {
                width: 70%;
                height: 30em;
            }
        }

        .prochainement {
            width: 60%;
            margin-bottom: 10%;
        }
    }
    .lechic{
        .trait_gauche_appétit1{
            border-left: 97px solid transparent;
            border-right: 17px solid transparent;
        }
        .trait_gauche_appétit2{
            border-left: 97px solid transparent;
            border-right: 17px solid transparent;
        }
        .trait_droit_appétit1{
            border-left: 17px solid transparent;
            border-right: 97px solid transparent;
        }
        .trait_droit_appétit2{
            border-left: 17px solid transparent;
            border-right: 97px solid transparent;
        }
        .trait_gauche_papilles1{
            border-left: 97px solid transparent;
            border-right: 17px solid transparent;
        }
        .trait_gauche_papilles2{
            border-left: 97px solid transparent;
            border-right: 17px solid transparent;
        }
        .trait_droit_papilles1{
            border-left: 17px solid transparent;
            border-right: 97px solid transparent;
        }
        .trait_droit_papilles2{
            border-left: 17px solid transparent;
            border-right: 97px solid transparent;
        }
        .trait_gauche_sucrées1{
            border-left: 97px solid transparent;
            border-right: 17px solid transparent;
        }
        .trait_gauche_sucrées2{
            border-left: 97px solid transparent;
            border-right: 17px solid transparent;
        }
        .trait_droit_sucrées1{
            border-left: 17px solid transparent;
            border-right: 97px solid transparent;
        }
        .trait_droit_sucrées2{
            border-left: 17px solid transparent;
            border-right: 97px solid transparent;
        }

    }

    
    #carte {
        max-width: 90%;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 0.8rem;
        }

        .trait_gauche {
            margin-left: 2%;
            width: 7rem;
        }

        .trait_droit {
            margin-right: 2%;
            width: 7rem;
        }


        .menu_page {
            display: flex;

            .plats {
                justify-items: flex-start;

                p {
                    font-size: 0.65rem;
                }
            }

            .prix {
                justify-items: flex-end;

                p {
                    font-size: 0.65rem;
                }
            }
        }
    }
}