@mixin format_carte {        
    box-shadow: 0px 0px 20px rgb(182, 182, 182);
    border: solid $br_color 1px;
    margin: 20px auto 20px auto;
    width: 300px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin mise_en_page {
    background-color: $bg-color;
    color: $txt-color;
    font-size: 1.5rem;
}
@mixin points{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $txt-color;
    animation: jump 1s ease-in-out infinite;
}
@mixin trait_lanote{
    border-top: $txt-color-lanote 4px solid;
    width: 130px;
    margin-top: 20px;
    border-radius: 4px 0 0 0;
}