$bg-color: rgb(87, 156, 135);
$txt-color:rgb(253, 203, 70);
$br_color: rgb(223, 223, 223);
$bg-lanote:#FCDFDB;
$bg-lechic:#FFF5FE;
$bg-ledelice: #EDEFEF;
$bg-lapalette: #FDFFFD;

$txt-color-lanote: #3C1218;